In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [10]:
file_path = '/app/data'
!pwd

/app

In [26]:
df = pd.read_csv(f'{file_path}/growth_proj_eci_rankings.csv')

df.head()

,country_id,country_iso3_code,year,growth_proj,in_rankings,eci_sitc,eci_rank_sitc,eci_hs92,eci_rank_hs92,eci_hs12,eci_rank_hs12
0,4,AFG,1995,NaN,True,-0.567,95,-0.451,93,NaN,NaN
1,4,AFG,1996,NaN,True,-0.768,108,-0.477,91,NaN,NaN
2,4,AFG,1997,NaN,True,-0.275,77,0.063,64,NaN,NaN
3,4,AFG,1998,NaN,True,-0.423,82,-0.278,78,NaN,NaN
4,4,AFG,1999,NaN,True,-0.719,106,-0.249,75,NaN,NaN

In [27]:
df.columns

Index(['country_id', 'country_iso3_code', 'year', 'growth_proj', 'in_rankings',
       'eci_sitc', 'eci_rank_sitc', 'eci_hs92', 'eci_rank_hs92', 'eci_hs12',
       'eci_rank_hs12'],
      dtype='object')

In [28]:
df.year.unique()

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [29]:
### How many countries?

In [30]:
df.country_id.nunique()

145

In [22]:
### How many products ?

In [31]:

df_s=df.drop(columns=['eci_hs12',	'eci_rank_hs12', 'growth_proj', 'in_rankings', 'eci_sitc'])
df_s=df_s.sort_values(by=['country_id','year'])

In [33]:
df_s['ecit-1'] = df_s.groupby(['country_id'])['eci_hs92'].shift(+1)
df_s['ecit-2'] = df_s.groupby(['country_id'])['eci_hs92'].shift(+2)
df_s['ecit-3'] = df_s.groupby(['country_id'])['eci_hs92'].shift(+3)
df_s['ecit-4'] = df_s.groupby(['country_id'])['eci_hs92'].shift(+4)
df_s['ecit-5'] = df_s.groupby(['country_id'])['eci_hs92'].shift(+5)
df_s.head()

,country_id,country_iso3_code,year,eci_rank_sitc,eci_hs92,eci_rank_hs92,ecit-1,ecit-2,ecit-3,ecit-4,ecit-5
0,4,AFG,1995,95,-0.451,93,NaN,NaN,NaN,NaN,NaN
1,4,AFG,1996,108,-0.477,91,-0.451,NaN,NaN,NaN,NaN
2,4,AFG,1997,77,0.063,64,-0.477,-0.451,NaN,NaN,NaN
3,4,AFG,1998,82,-0.278,78,0.063,-0.477,-0.451,NaN,NaN
4,4,AFG,1999,106,-0.249,75,-0.278,0.063,-0.477,-0.451,NaN

In [ ]:
### Y prediction

In [39]:
df_y=df_s.loc[(df_s['year']>1999)&(df_s['year']<=2021)]
Y =  df_y.iloc[:,[4]]
#Y =  df_y.loc[:,['pci']].values
df_y22=df_s.loc[(df_s['year']>1999)&(df_s['year']<=2022)]
Y22 =  df_y22.iloc[:,[4]]
df_y23=df_s.loc[(df_s['year']==2023)]
Y23 =  df_y23.iloc[:,[4]]

Y.tail()

#Y22.tail()

      eci_hs92
4114    -0.658
4115    -0.510
4116    -0.490
4117    -0.749
4118    -0.737

## Train, Test and Val sets
### Train: base desde 2000 - 2021
### Validation: Base para el 2022
### Test: Base para el 2023

In [ ]:
from sklearn.model_selection import GroupShuffleSplit

#gs = GroupShuffleSplit(n_splits=2, test_size=.1, random_state=0)

#train_ix, test_ix = next(gs.split(X17, Y, groups=X['year']==2019))

#X_train = X.iloc[train_ix]
X_train =X17

#y_train = Y.iloc[train_ix]
y_train = Y17

#X_test = X.iloc[test_ix]
X_test = X19
#y_test = Y.iloc[test_ix]
y_test = Y19

#X_val =   X.iloc[val_iy]
X_val =   X18
#y_val = Y.iloc[val_iy]
y_val = Y18

In [ ]:
df_x_train=df_x_train.iloc[:, [i for i in range(df_x_train.shape[1]) if i != 5]]
dfx_17=dfx_17.iloc[:, [i for i in range(dfx_17.shape[1]) if i != 5]]
dfx_18=dfx_18.iloc[:, [i for i in range(dfx_18.shape[1]) if i != 5]]
dfx_19=dfx_19.iloc[:, [i for i in range(dfx_19.shape[1]) if i != 5]]

X = df_x_train.iloc[:,0:16]
X17=dfx_17.iloc[:,0:16]
X18=dfx_18.iloc[:,0:16]
X19=dfx_19.iloc[:,0:16]
X.tail()
X17.tail()
X19.tail()